@using System.Collections.Generic;
@using Com.GriffithsBen.BlogEngine.Concrete;
@model IEnumerable<SmartBlogPost>
@{
    ViewBag.Title = "A list of blog entries";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Here's a bunch of blog entries, giving the synopsis of each one</p>
</div>

<div class="row">

    @foreach (SmartBlogPost blogPost in Model) {
        <div class="col-md-12">
            <h2>@string.Format("{0} - {1}", blogPost.Title, blogPost.Date)</h2>
            <p>
                @blogPost.SynopsisHtml
            </p>
            <p>@Html.ActionLink("Read more", "BlogEntry", new { Id = blogPost.ModelData["Id"] })</p>
        </div>
    }

</div>